---
name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [windows-latest, ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare Python (Ubuntu)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip3 install pip --upgrade
          pip3 install wheel
          pip3 install -r requirements.txt
          pip3 install pyinstaller

      - name: Build (Ubuntu)
        run: |
          source venv/bin/activate
          pyinstaller main.py
          cd dist/main
          mv main SafeLink-Twitch-Bot
          zip -r ../../SafeGIF-Twitch-Bot.zip .
          cd ../..

      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: SafeGIF-Twitch-Bot-${{ matrix.os }}.zip
          path: SafeGIF-Twitch-Bot.zip
